.header-thumbnail{
            position: relative;
            height: 40vw;
            max-width: auto;
            background-image: url("../assets/images/thumbnail.jpg");
            background-size: cover; 
            background-position: center;
            margin: auto;
            overflow: hidden;
}
.carousel-container {
            position: relative;
            height: 40vw;
            max-width: 90%;
            margin: auto;
            overflow: hidden;
        }
        .carousel-slide {
            display: none;
            width: 100%;
            height: auto;
            position: relative;
        }
        .carousel-nav {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
        .carousel-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #bbb;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }
        .carousel-dot.active {
            background-color: #717171;
        }
        .interaction-bar {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            background: rgba(255, 255, 255, 0.8);
            padding: 5px;
            border-radius: 8px;
        }

        .image-link {
            display: block;
            margin: 5px auto;
            text-align: center;
            font-size: 14px;
            color: blue;
            text-decoration: underline;
        }
        .empty-state {
            text-align: center;
            margin-top: 50px;
            font-size: 18px;
            color: #888;
        }
        .blocked-message {
            text-align: center;
            font-size: 18px;
            color: #FF0000;
            margin-top: 50px;
        }
