
<div class="social-icons">
    <a href="https://github.com/The27LINKS" target="_blank" class="icon github" aria-label="GitHub">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/github.svg" alt="GitHub logo">
    </a>

    <a href="https://www.youtube.com/@27LINKS" target="_blank" class="icon youtube" aria-label="YouTube">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/youtube.svg" alt="YouTube logo">
    </a>

    <a href="https://x.com/The27LINKS" target="_blank" class="icon twitter" aria-label="X (Twitter)">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/x.svg" alt="X logo">
    </a>
</div>

<footer>
    <p class="main-footer-text">&copy; 2026 The 27LINKS Official. <a href="legal.html">All rights reserved.</a></p>
    <span style="display:block; text-align:right; margin-top:5px; margin-bottom:5px; margin-right:10px;">Designed by <span class="signature">Robert Storm</span></span>
</footer>





