<header>
    <div class="brand-wrapper" onclick="window.location.href='index.html'">
        
        <img src="assets/images/logo.png" alt="The27LINKS Logo" class="brand-logo">
    </div>
    <div class="search-container">
    <span class="search-icon">🔍</span>
    <input class="search-input" id="search" type="text" placeholder="">  
    <button class="search-button">Search</button>
</div>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</header>
